
body{
  margin-left: 14%;
  margin-right: 6%;
  margin-top: 2em;
  margin-bottom: 10em;
  max-width: 40em;
  color: #303020;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  line-height: 1.4;
}
@media(max-width: 60em){
  body{
    margin-left: 10%;
    margin-right: 4%;
  }
}
@media(max-width: 48em){
  body{
    margin-left: 6%;
    margin-right: 4%;
  }
}
@media(max-width: 26em){
  body{
    margin-left: 2%;
    margin-right: 1%;
  }
  ol, ul{
    padding-left: 2em;
  }
}

h1,h2,h3,h4{
  color: #463c20;
}

a{
  color: #20506a;
  text-decoration: none;
}
a:hover{
  color: #102a40;
  text-decoration: underline;
}

.modest{
  color: #808072;
}

pre, code{
  font-family: "DejaVu Sans Mono", "Menlo", monospace;
}

table.bt{
  border-collapse: collapse;
}

table.bt td, table.bt th{
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: left;
  vertical-align: top;
}
table.bt th{
  border-top: 2px solid #c0c0b0;
  border-bottom: 2px solid #c0c0b0;
  background-color: #e0e0ca;

}
table.bt td{
  background-color: #fafaf0;
  border-bottom: 2px solid #d0d0ca;
}

td.r, th.r{
  text-align: right;
}
