
body{
  margin-left: 10%;
  margin-top: 2em;
  margin-bottom: 10em;
  max-width: 40em;
  color: #404030;
  font-family: "DejaVu Sans", sans-serif;
}

h1,h2,h3,h4{
  color: #463c20;
}

a{
  color: #20506a;
  text-decoration: none;
}
a:hover{
  color: #102a40;
  text-decoration: underline;
}

.modest{
  color: #808072;
}

pre, code{
  font-family: "FreeMono", "Courier New", monospace;
  color: #403020;
}

table.bt{
  border-collapse: collapse;
}

table.bt td, table.bt th{
  border: 1px solid #b0b0a0;
  padding-left: 0.2em;
  text-align: left;
  vertical-align: top;
}

table.bt th{
  background-color: #e0e0c0;
}

td.r, th.r{
  text-align: right;
}

