

body{
  margin-left: 10%;
  margin-top: 4em;
  margin-bottom: 10em;
  max-width: 40em;
  background-color: #fcfdfa;
  font-family: "DejaVu Sans", "Calibri", sans-serif;
  color: #463c20;
}
a{
  color: #600030;
}
pre, code{
  font-family: "FreeMono", "Courier New", monospace;
  color: #403020;
}
