
html{font-size: 34px;}
h1, h2, h3, h4 {color: #201000;}
body{
  color: #101010;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}
pre{color: #000000;}
.box, .ibox {
  border-left: 10px solid #c2c2b8;
  padding: 8px 16px;
}
a{color: #002060;}
a:hover{color: #d00080;}
