
body{
  color: #202122;
  line-height: 1.6;
}
a{color: #0645ad;}
h1,h2,h3,h4{color: #000000;}
h2{
  font-family: "DejaVu Serif", "Georgia", serif;
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 0px;
}

pre{
  background-color: #f8f9fa;
  color: #000000;
  border: 1px solid #eaecf0;
  padding: 1em;
}
pre.indent{
  margin-left: 0px;
}
code{
  font-weight: normal;
  color: #000000;
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
  border-radius: 2px;
  padding: 1px 4px;
}
table.bt td, table.bt th{
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.9em;
  text-align: left;
  vertical-align: top;
}
table.bt td{
  background-color: #f8f9fa;
}
table.bt th{
  background-color: #eaecf0;
}
