
body{
    font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
    background-color: #000606;
    color: #cab07a;
}
h1,h2,h3,h4{color: #90b0b0;}
h2{
  border-bottom: 2px solid #646460;
}
a{color: #60b0a0; text-decoration: none;}
a:hover{color: #d04060; text-decoration: underline;}

pre, code{
  font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
}
pre{color: #bab080; font-size: 90%; line-height: 1.6;}
code{font-weight: bold; color: #20a090; font-size: 100%;}

.keyword{
  font-weight: bold;
  color: #e0b040;
}
.string{
  color: #e060a0;
}
.bracket{
  font-weight: bold;
  color: #809090;
}
.symbol{
  font-weight: bold;
  color: #40a090;
}
.comment{
  color: #508090;
}

.box, .ibox {
  border-left: 6px solid #202020;
  background-color: #101010;
  margin-left: 0px;
  padding: 8px 12px;
}

table.bt td, table.bt th{
  border-top: 2px solid #60605a;
  border-bottom: 2px solid #60605a;
}
table.bt td{
  background-color: #101010;
}
table.bt th{
  background-color: #201010;
}
