
html{font-size: 16px;}
body{
  max-width: 52em;
  margin-left: 14%;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 1.5;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #101010;
}
@media(max-width: 78em){
  body{margin-left: auto; margin-right: auto;}
}
blockquote{
  background-color: #f4f4e6;
  border-left: 6px solid #cacac0;
  padding: 8px 12px;
  margin-left: 0px;
  margin-right: 0px;
}
a{
  color: #0040a0;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
ul{
  padding-left: 1.4em;
  list-style-type: square;
}
pre, code{
  font-family: "DejaVu Sans Mono", monospace;
}
