
body{
  margin-left: 10%;
  margin-top: 2em;
  margin-bottom: 10em;
  font-family: "DejaVu Sans", sans-serif;
  max-width: 44em;
  color: #30302a;
}
h1,h2,h3,h4{
  color: #504030;
}
a{
  color: #306090;
  text-decoration: none;
}
a:hover{
  color: #20403a;
  text-decoration: underline;
}

table.bt{
  border-collapse: collapse;
}
.bt td, .bt th{
  border: 2px solid #a0a090;
  vertical-align: top;
}
.bt th{
  background-color: #e0e0c0;
}

