
body{
  margin-top: 4em;
  margin-left: 20%;
  margin-right: 2%;
  max-width: 48em;
  font-size: 120%;
  color: #343430;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
}
a{
  color: #20506a;
  text-decoration: none;
}
a:hover{
  color: #102a40;
  text-decoration: underline;
}
@media(max-width: 900px){
  body{
    margin-top: 1em;
    margin-left: 8%;
  }
}
@media(max-width: 720px){
  body{
    margin-top: 1em;
    margin-left: 4%;
  }
}
input {
  font-size: 100%;
}
input[type=text], code, div.mono{
  font-family: "FreeMono", "Courier New", monospace;
}
div.output{
  font-family: "FreeMono", "Courier New", monospace;
}
div.math{
  font-family: "Century Schoolbook L", "FreeSerif", "Times New Roman", serif;
}
math{
  font-size: 120%;
}
ul.ast{
  list-style-type: square;
}
table.op{
  border-collapse: collapse;
}
table.op td{
  border-bottom: 2px solid #40a0a0;
  margin: 0px;
  padding: 0px;
}
span.frac{
  display: inline-table;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}
span.tr { 
  display:table-row;
}
span.fn{
  display: table-cell;
  border-bottom: 1px solid #404040;
  text-align: center;
}
span.fd {
  display: table-cell;
  text-align: center;
}
span.sop{
  margin-left: 2px;
  margin-right: 2px;
}
span.ts{
  margin-left: 2px;
}
sup{
  font-size: 16px;
}


